.ProductToBuy{
    height:auto;

   
}
.imageContainer{
    height: inherit;

}
.selectBtn{
    font-weight: 700;
    
}
.selectBoxesDiv{
    background-color: #F2F2F2;
}
.imageContainer img{
    width: 100%;
    height: 45vh;
}