.ImageAndParagraphDiv {
    height: 50vh;
  }
  p {
    color: #a8a8a9;
    font-size: 0.75rem;
    font-weight: 600;
  }
  h1 {
    font-weight: 700;
  }


  @media screen and (max-width: 768px) {
    img {
      width: 85%;
    }
  }